$clrBlack: #333333;
$clrTextInactive: #666666;
$clrBg: #FCFCF8;
$clrLightGrey: #C4C4C4;
$clrUltraLightGrey: #F0F2EC;
$clrExtraLightGrey: #DEDEDE;
$clrGreen: #5BA641;
$clrButton: #7ABF62;
$clrButtonPressed: #46922B;
$clrLinkBorder: rgba(91, 166, 65, .3);
$clrPagination: #F5D58F;
$clrCardBg: #FBFCFA;

$shadowCard: 0 5px 20px rgba(47,61,2,.1);
$shadowCardHover: 0 10px 30px rgba(47,61,2,.15);