{% if items|length > 0 %}

<div data-widget-wrapper>

    <div class="listing_widget_header">
        <h3 class="listing_widget_title">Похожие залы</h3>
    </div>

    <div class="items_list_listing swiper-container" data-listing-wrapper>
        <div class="items_list swiper-wrapper" data-listing-list>
            {{ this.render('//components/generic/listing.twig', {'items':items, 'type':'other'}) | raw }}
        </div>
        <div class="listing_widget_controll">
            <div class="listing_widget_arrow _prev"></div>
            <div class="listing_widget_pagination"></div>
            <div class="listing_widget_arrow _next"></div>
        </div>                  
    </div>

</div>

{% endif %}