{% if text != '' %}
	<div class="seo_text" data-seo-text>
		{{text | raw }}
		<div class="seo_text_control" data-seo-control>
			<p class="_link">Показать полностью</p>
		</div>
	</div>
{% endif %}