<div class="filter" data-filter-wrapper>
	<div class="filter_wrapper">

		{% for label,filter_item in filters %}
			{% if filter_item.type == 'select' %}
				{{ this.render('filter_select.twig', {
					'filter_item':filter_item,
					'label':label,
					'filter_active': filter_active
				}) | raw }}
			{% else %}
				{{ this.render('filter_checkbox.twig', {
					'filter_item':filter_item,
					'label':label,
					'filter_active': filter_active
				}) | raw }}
			{% endif %}
		{% endfor %}

		<div class="filter_submit">
		    <div class="filter_submit_button _button" data-filter-button>Подобрать</div>
		</div>

		<div class="form_close" data-filter-close></div>

	</div>
</div>