[data-page-type="blog"]{
  position: relative;
  //padding: 0 calc((100% - 1196px) / 2);
  .content_block{
    padding: 60px 0 60px 0;

    &.items_list_blog{
      padding-top: 0px;
    }

    &.pagination{
      padding: 45px 0 45px 0;

      [data-pagination-wrapper]{
        padding: 0;
    }
    }

    h1{
      text-align: center;
    }
  }

  .list-view{
    position: relative;
    display: flex;
    flex-flow: row wrap;

    .pagination_wrapper{
      display: none;
    }

    &>div[data-key]:nth-child(3n + 2){
      padding: 0 34px;
    }
  }

  .list-view>div[data-key]{
    padding-bottom: 30px;
  }

  .blog_item{
    display: flex;
    flex-flow: column nowrap;
    width: 370px;

    .blog_item_img{
      width: 370px;
      height: auto;
      box-shadow: 0px 5px 20px rgba(47, 61, 2, 0.1);
    }

    .blog_item_title{
      padding: 15px 0 5px;
      font-weight: bold;
      font-size: 26px;
      line-height: 30px;
    }

    .blog_item_text{
      font-weight: 500;
      font-size: 14px;
      line-height: 22px;
    }
  }

  [data-pagination-wrapper]{

    &:before{
      content: "";
      position: absolute;
      top: -268px;
      left: -362px;
      width: 246px;
      height: 370px;
      background: url("/img/filter_pad_bg/card_page_Bottom_left_decorations.png");
      z-index: 0;
    }

    &:after{
      content: "";
      position: absolute;
      top: -285px;
      right: -320px;
      width: 246px;
      height: 370px;
      background: url("/img/filter_pad_bg/card_page_Bottom_right_decorations.png");
      z-index: 0;
    }
  }

  @include for-notdesc{

    &::before{
      content: none;
    }

    .content_block.pagination{
      display: none;
    }
  }

  @include for-pad{
    //padding: 0 calc((100% - 748px) / 2);

    .content_block{
      padding: 35px 0 50px 0;
    }

    .list-view{
      justify-content: center;

      &>div[data-key]:nth-child(3n + 2){
        padding: 0 0 20px 0;
      }

      &>div[data-key]:nth-child(odd){
        padding: 0 20px 20px 0;
      }

    }

    .list-view>div[data-key]{

      .blog_item{
        width: 364px;

        .blog_item_img{
          width: 364px;
        }
      }
    }
  }

  @include for-mobile{
    //padding: 0 calc((100% - 2900px) / 2) 0;

    .content_block{
      padding: 15px 0 35px 0;
    }

    .list-view{
      flex-flow: column nowrap;
      align-items: center;

      &>div[data-key]:nth-child(3n + 2){
        padding: 0 0 20px 0;
      }

      &>div[data-key]:nth-child(odd){
        padding: 0 0 20px 0;
      }

    }

    .list-view>div[data-key]{

      .blog_item{
        width: 290px;

        .blog_item_img{
          width: 290px;
        }
      }
    }
  }
}

