.filter{
    display: flex;
    padding: 38px 17px 35px;
    background-color: white;
    align-items: center;
    margin-top: 40px;
    box-shadow: $shadowCard;

    @include for-notdesc{
        flex-wrap: wrap;
    }

    @include for-pad{
        padding: 38px 17px 25px;

        &>div:nth-child(-n+3){
            margin-bottom: 40px;
        }

        &>div:nth-child(3n){
            margin-right: 0px;
        }
    }

    @include for-mobile{
        padding: 0px 17px 25px;
        margin-top: 25px;
    }

    .filter_label{
        position: absolute;
        bottom: 100%;
        cursor: initial;
        font-size: 16px;
        font-weight: 500;
        line-height: 26px;
    }

    .filter_select{
        cursor: pointer;
        width: 100%;
        margin-right: 15px;
        position: relative;

        @include for-pad{
            width: calc((100% / 3) - 10px);
        }

        @include for-mobile{
            margin: 38px 0px 0px;
        }
    }

    .filter_select_block{
        position: relative;

        

        &._active{

            .filter_select_list{
                display: block;
            }

            .filter_select_current:after{
                transform: rotate(-135deg);
                top: 17px;
            }
        }
    }

    .filter_select_current{
        height: 39px;
        white-space: nowrap;
        border: 1px solid $clrLightGrey;
        border-radius: 2px;
        padding: 0px 65px 0px 16px;
        position: relative;
        overflow: hidden;

        &:after{
            content: '';
            position: absolute;
            width: 8px;
            height: 8px;
            border-right: 2px solid $clrLightGrey;
            border-bottom: 2px solid $clrLightGrey;
            border-radius: 2px;
            transform: rotate(45deg);
            top: 13px;
            right: 12px;
            z-index: 2;
        }

        p{
            position: absolute;
            top: 0;
            left: 16px;
            line-height: 38px;
            font-size: 16px;
            font-weight: 500;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            width: calc(100% - 42px);
        }
    }

    .filter_select_list{
        display: none;
        position: absolute;
        min-width: 100%;
        top: calc(100% - 1px);
        padding: 12px 0px 12px;
        background-color: white;
        border: 1px solid $clrLightGrey;
        border-radius: 2px;
        cursor: initial;
        z-index: 3;
    }

    .filter_select_item{
        padding: 0px 15px 0px 15px;
        white-space: nowrap; 
        cursor: pointer;

        &:hover{
            background: $clrGreen;

            p{
                color: white;
            }
        }

        &._active{
            background: $clrUltraLightGrey;

            &:hover p{
                color: $clrBlack;
            }
        }

        p{
            font-weight: 500;
            line-height: 36px; 
        }
    }

    .filter_check{
        padding-left: 22px;
        position: relative;
        cursor: pointer;
        white-space: nowrap;
        margin-right: 15px;

        @include for-pad{
            width: calc((100% / 3) - 10px);
        }

        @include for-mobile{
            margin: 17px 15px 0px 0px;
        }

        &:before{
            background: white;
            content: '';
            position: absolute;
            width: 16px;
            height: 16px;
            border: 1px solid $clrLightGrey;
            border-radius: 2px;
            left: 0px;
            top: 0px;
        }

        &:after{
            content: '';
            position: absolute;
            width: 5px;
            height: 9px;
            left: 6px;
            transform: rotate(45deg);
            top: 2px;
            will-change: transform;
        }

        &._checked:after{
            border-bottom: 2px solid $clrButton;
            border-right: 2px solid $clrButton;
        }
    }

    .filter_submit{
        @include for-pad{
            margin-left: auto;
        }

        @include for-mobile{
            margin-top: 14px;
            width: 100%;
        }
    }

    .filter_submit_button{
        line-height: 40px;
        margin: 0px 0px 0px 15px;

        @include for-pad{
            margin: 0;
        }

        @include for-mobile{
            margin: 0;
            width: 100%;
            text-align: center;
        }
    }
}