.form_wrapper{
	width: 100%;
	background: white;
	border-radius: 5px;
	box-shadow: 0px 5px 20px rgba(47, 61, 2, 0.1);
	padding: 25px 75px 40px;
}

.form_title{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

	.form_title_main{
		font-weight: 600;
		font-size: 36px;
		line-height: 44px;
		margin-right: 9px;	
	}

	.form_title_desc{
		font-weight: bold;
		font-size: 16px;
		color: #FFB30F;
	}
}

.form_block{
	display: flex;
	margin-top: 30px;

	.form_inputs{
		display: flex;
		flex-wrap: wrap;
		width: 780px;

		.input_wrapper{
			width: 130px;
			margin-right: 20px;

			&._big{
				width: 220px;
			}

			.input_label{
				font-weight: 500;
				font-size: 16px;
				line-height: 26px;
			}

			input{
				border: 1px solid #C4C4C4;
				box-sizing: border-box;
				border-radius: 2px;
				width: 100%;
				height: 40px;
				padding: 9px 16px 6px;
			}

			.input_desc{
				font-weight: 500;
				font-size: 12px;
				line-height: 20px;
				color: #666666;
			}
		}

		.form_checkboxes{
			width: 100%;
			display: flex;
			align-items: center;
			margin-top: 20px;

			.checkbox_title{
				font-weight: bold;
				font-size: 16px;
				line-height: 26px;
				margin-right: 15px;
			}

			.checkbox_wrapper{
				display: flex;
			}
		}
	}

	.form_submit{
		width: calc(100% - 780px);

		button{
			height: 50px;
			margin-top: 21px;
		}

		.form_policy{
			margin-top: 10px;

			p{
				font-weight: 500;
				font-size: 12px;
				line-height: 15px;

				&:before{
					top: 0px;
				}

				&:after{
					top: 3px;
				}
			}

			a{
				//text-decoration: underline;
				color: #5BA641;
			}
		}
	}
}