.item_title{
    h1{
        span:nth-of-type(1){
            display: block;
            font-weight: bold;
            line-height: 44px;
            font-size: 38px;
            letter-spacing: 0.01em;

            @include for-mobile{
                font-weight: bold;
                font-size: 32px;
                line-height: 36px;
            }
        }

        span:nth-of-type(2){
            display: flex;
            width: 100%;
            justify-content: center;
            margin-top: 5px;
            text-align: center;
            font-size: 26px;
            line-height: 32px;
            font-weight: normal;
        }
    }
}

.object_head{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: calc(100% - 450px);
    position: relative;
    min-height: 573px;
    margin-top: 27px;

    @include for-mobile{
        padding-left: 0px;
        min-height: auto;
    }

    @include for-pad{
        min-height: auto;
        padding-left: 0px;
        align-items: center;
    }
}

.object_gallery{
    width: 710px;
    position: absolute;
    left: 0px;
    top: 0px;

    @include for-pad{
        top: 71px;
        left: calc(50% - 355px);
    }

    .item_top_slider{
        margin-bottom: 5px;

        @include for-mobile{
            height: 200px;
        }

        .swiper-slide{
            display: flex;
            justify-content: center;
            align-items: center;

            img{
                @include for-mobile{
                    max-width: 100%;
                }
            }
        }
    }

    @include for-mobile{
        width: 100%;
    }

    .object_thumb{
        @include for-mobile{
            width: 75px;
            display: flex;
            justify-content: center;
            align-items: center;

            img{
                max-width: 100%;
            }
        }
    }
}

.object_meta{
    display: flex;
    flex-wrap: wrap;
    width: calc(50vw - 200px);

    @include for-mobile{
        width: 100%;
        margin-top: 275px;
    }

    @include for-pad{
        width: 100%;
        justify-content: center;
        margin-bottom: 600px;
    }

    .object_meta_block{
        display: flex;

        @include for-mobile{
            flex-wrap: wrap;
            width: 100%;
        }
    }

    .object_meta_item{
        margin: 0px 34px 20px 0px;

        @include for-mobile{
            width: 100%;
            margin: 0px 0px 10px;
            display: flex;
            align-items: flex-end;

            .object_meta_title{
                width: 40%;
                min-width: 128px;
            }

            .object_meta_value{
                width: calc(100% - 128px);
            }
        }

        &:last-child{
            margin-right: 0px;
        }

        .object_meta_title{
            font-weight: 500;
            font-size: 14px;
            line-height: 22px;
        }

        .object_meta_value{
            font-weight: 500;
            font-size: 14px;
            line-height: 22px;

            span{
                font-weight: 600;
                font-size: 24px;

                @include for-mobile{
                    font-size: 18px
                }
            }
        }
    }
}

.object_book{
    background: white;
    padding: 15px 20px 25px;
    box-shadow: 0px 5px 20px rgba(47, 61, 2, 0.1);

    @include for-mobile{
        margin-top: 13px;
    }

    @include for-pad{
        width: 436px;
    }

    .object_book_text{
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
    }

    .object_book_hidden{
        margin-top: 6px;
        display: flex;
        align-items: flex-end;

        @include for-mobile{
            flex-direction: column;
            align-items: flex-start;
        }

        &._active{

            .object_book_phone{

                .object_fake_phone{
                    display: none;
                }

                .object_real_phone{
                    display: block;
                }
            }

            .object_book_hidden_button{
                display: none;
            }
        }

        .object_book_phone{
            margin-right: 11px;

            .object_fake_phone{
                font-weight: bold;
                font-size: 26px;
                line-height: 30px;
            }

            .object_real_phone{
                display: none;
                font-weight: bold;
                font-size: 26px;
                line-height: 30px;
            }
        }

        .object_book_hidden_button{
            font-weight: 500;
            font-size: 16px;
            line-height: 18px;
            color: #5BA641;
            border-bottom: 1px dashed rgba(91,166,65,0.5);
            margin: 0px 0px 2px;
            cursor: pointer;
        }
    }

    .object_book_action{
        margin-top: 14px;
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        padding-left: 43px;
        background-image: url(/img/gift_icon.svg);
        background-position: 0px 50%;
        background-size: 30px;
        background-repeat: no-repeat;
        min-height: 37px;
    }

    .object_book_button{
        width: fit-content;
        text-align: center;
        line-height: 40px;
        margin-top: 12px;
    }
}

.object_parameters{

    @include for-pad{
        width: 710px;
        display: flex;
        justify-content: space-between;
    }

    .object_parameters_list{
        margin-top: 20px;

        &._mobile{
            display: none;
        }

        @include for-pad{
            width: 335px;

            ._mobile{
                display: block;
            }

            &[data-mobile-hide]{
                display: none;
            }
        }

        .object_parameters_title{
            font-weight: bold;
            font-size: 16px;
            margin-bottom: 10px;
        }

        .object_parameters_item{
            font-weight: 500;
            font-size: 14px;
            line-height: 22px;
        }

        &._marked{
            
            .object_parameters_item{
                padding-left: 20px;
                background-image: url(/img/list_pin.svg);
                background-position: 0px 6px;
                background-size: 12px;
                background-repeat: no-repeat;
            }
        }
    }
}

.object_description{
    margin-bottom: 60px;
}

[data-page-type="item"] .items_list_listing.swiper-container .items_list{
    justify-content: center;

    @media (max-width: 1650px) {
        justify-content: initial;
    }
}

.object_book_email{
    margin-top: 8px;

    &._form{

        .object_book_email_text,
        .object_book_email_success{
            display: none;
        }

        .object_book_email_form{
            display: block;
        }
    }

    &._success{

        .object_book_email_text,
        .object_book_email_form{
            display: none;
        }

        .object_book_email_success{
            display: block;
        }
    }

    .object_book_email_text{

    }

    .object_book_email_form{
        display: none;
        margin-top: 13px;
        justify-content: space-between;

        .form_block{
            margin-top: 0px;
        }

        .input_wrapper{
            width: calc(100% - 8px);
        }

        .object_book_email_button{
            width: calc(40% - 8px);
            line-height: 40px;
            text-align: center;
        }
    }

    .object_book_email_success{
        display: none;

        .object_book_email_success_text{

        }

        .object_book_email_success_reload{

        }
    }
}