.map{
	width: 100%;
	height: 500px;
	margin: 40px 0px 60px;
	@include for-mobile{
        height: 285px;
    }

	#map{
		width: 100%;
		height: 100%;
	}
}

.map_container{
	width: 100%;
	position: relative;
	overflow: hidden;
	margin: 40px 0px;
	@include for-mobile{
		margin: 20px 0px 0px;
	}

	.map_placeholder{
		width: 100%;
		height: 150px;
		position: relative;
		z-index: 2;
		background: rgba(122, 191, 98, 0.3);
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
	}

	.map_placeholder_show{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;

		img{
			width: 64px;
			height: 64px;
			margin-bottom: 5px;
		}

		p{
			margin: 0;
			font-weight: 700;
			font-size: 16px;
			line-height: 23px;
			color: black;
		}
		
	}

	.map{
		position: absolute;
		z-index: 1;
		top: -175px;
		left: 0px;
		margin: 0px;
		@include for-mobile{
			top: -67px;
		}
	}

	&._active{
		animation: 0.6s ease 0s map_container;
		@include for-mobile{
		    animation: 0.6s ease 0s mobile_map_container;
		}
		animation-fill-mode: forwards;

		.map_placeholder{
			position: absolute;
			top: 0px;
			left: 0px;
			height: 100%;
			pointer-events: none;
			animation: 1s ease 0s map_placeholder;
			animation-fill-mode: forwards;
		}

		.map{
			position: relative;
			z-index: 1;
			top: 0px;
			left: 0px;
		}
	}
	&._loaded{
		height: 150px;
		animation: 0.6s ease 0s map_container_close;
		@include for-mobile{
		    animation: 0.6s ease 0s mobile_map_container_close;
		}
		animation-fill-mode: forwards;

		.map_placeholder{
			height: 100%;
			animation: 1s ease 0s map_placeholder_close;
			animation-fill-mode: forwards;
		}
	}
}

@keyframes mobile_map_container_close {
	from{
		height: 285px;
	}

	to{
		height: 150px;
	}
}

@keyframes map_container_close {
	from{
		height: 500px;
	}

	to{
		height: 150px;
	}
}

@keyframes mobile_map_container {
	from{
		height: 150px;
	}

	to{
	    height: 285px;
	}
}

@keyframes map_container {
	from{
		height: 150px;
	}

	to{
	    height: 500px;
	}
}

@keyframes map_placeholder {
	from{
		opacity: 1;
	}

	to{
		opacity: 0;
	}
}

@keyframes map_placeholder_close {
	from{
		opacity: 0;
	}

	to{
		opacity: 1;
	}
}

.balloon_layout{
	display: block;
	position: absolute;
	width: 412px;
	max-width: 412px;
	height: 194px;
	background: white;

	.close{
		position: absolute;
    right: 5px;
		top: 1px;
		width: 30px;
		height: 30px;
		background: url("/img/close_icon.svg");

		&:hover{
			background: url("/img/close_icon_hover.svg");
		}
	}
	
	.arrow{
		position: absolute;
		top: -12px;
		right: 40px;
		width: 24px;
		height: 24px;
		background: white;
		transform: rotate(45deg);
		z-index: -1;
	}
}


.balloon_layout._single_object{
	display: block;
	position: absolute;
	width: 300px;
	height: auto;
	background: white;
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
	border-radius: 5px;

	.arrow{
		position: absolute;
		top: -12px;
		right: 138px;
	}

	.balloon_inner{
		padding: 10px 15px 10px;

		.balloon_inner_header{
			font-style: normal;
			font-weight: bold;
			font-size: 16px;
			line-height: 142.56%;
			text-align: center;
		}

		.balloon_inner_body{
			font-style: normal;
			font-weight: 500;
			font-size: 12px;
			line-height: 15px;
			text-align: center;
			color: #666666;
		}
	}
}

.balloon_wrapper{
	height: 194px;
	width: 370px;
	display: flex;
	flex-flow: column nowrap;
	padding: 20px 0 0 20px;

	.balloon_content{
		width: 100%;
		display: flex;
		justify-content: flex-start;

		img {
			height: auto;
			max-height: 100px;
			width: 143px;
		}

		.balloon_text{
			display: flex;
			flex-flow: column nowrap;
			padding-left: 15px;
			padding-right: 35px;

			.balloon_header{
				font-family: "Montserrat";
				font-style: normal;
				font-weight: bold;
				font-size: 16px;
				line-height: 142.56%;
				color: #333333;
			}
		
			.balloon_address{
				font-family: "Montserrat";
				font-style: normal;
				font-weight: 500;
				font-size: 12px;
				line-height: 15px;
				color: #666666;
				padding-top: 5px;
			}
		}
	}
	
	.balloon_link{
		margin: auto;
		

		.balloon_link_button{
			padding: 6px 20px;

			a{
				font-family: "Montserrat";
				font-style: normal;
				font-weight: 500;
				font-size: 14px;
				line-height: 22px;
			}
		}
	}
}