[data-page-type="post"]{
  display: flex;
  flex-flow: column nowrap;
  padding: 0 calc((100% - 953px) / 2);

  .object_head{
    min-height: 385px;
  }

  .post-item-gallery-thumbs{
    height: 80px;
    margin: 5px 0px;
  }

  .post-gallery-top{
    margin-top: 30px;
  }

  .post-gallery-thumbs{
    margin-bottom: 30px;
    margin-top: 5px;
  }

  * {
    line-height: 26px;
    font-weight: 500;
  }

  .back_to_blog_list{
    align-self: center;
    padding: 20px 0 0;
    border-bottom: 1px solid rgba(51, 51, 51, 0.3);
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #666666;
  }

  

  .post_wrapper{

   .item_page_wrapper{
      padding-top: 0px;
      h2{
        padding: 0px;
      }
    }

    .blog_text{
      p{
        margin-bottom: 26px;
      }
      p:last-child{
        margin-bottom: 0px;
      }
      a{
        color: #D83603;
        border-bottom: 1px dashed rgba(216, 54, 3, 0.5);

        &:hover{
            color: #F0440D;
        }
      }
    }

   

    figure{
      padding: 25px 0;

      figcaption{
        padding-top: 10px;
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        text-align: center;
        color: #666666;
      }
    }

    img{
      display: block;
      width: 100%;
      height: auto;
    }

    ul{
      padding: 0 0 18px 22px;

      li{
        line-height: 26px;
        font-weight: 500;
        padding-bottom: 5px;
      }
    }

    ol{
      padding: 15px 0 18px 17px;

      li{
        line-height: 26px;
        font-weight: 500;
        padding-bottom: 5px;
      }
    }

    h1{
      padding: 20px 0 5px;
      text-align: center;
      font-weight: bold;
      font-size: 38px;
      line-height: 43px;
      letter-spacing: 0.01em;
    }

    h2{
      padding: 30px 0 15px;
      font-size: 36px;
      font-weight: 600;
      line-height: 44px;
      text-align: left;
    }

    h3{
      padding: 25px 0 10px;
      font-size: 26px;
      line-height: 32px;
      font-weight: normal;
    }

    h4{
      padding: 0 0 10px;
      font-weight: bold;
      font-size: 20px;
      line-height: 24px;
    }

    .text_with_borders{
      margin: 25px 0;
      padding: 25px 40px 30px;
      border: 2px solid #FFC839;
      box-sizing: border-box;
      border-radius: 5px;
    }
  }

  .restaurant_adv_wrapper{

    .item_page_wrapper:before,
    .item_page_wrapper:after{
      content: none;
    }

    .content_block{
      width: 100%;
      margin-top: 20px;

      .title{
        justify-content: flex-start;
        padding: 10px 0 0 0;

        .title_address{
          justify-content: flex-start;
          padding-left: 21px;
        }
      }

      .object_gallery{
        position: absolute;
        top: 0;
        left: 0;
        width: 496px;
        padding: 0 15px 0 0;

        .swiper-container.gallery-top{
          height: 330px;
        }

        .swiper-container.gallery-thumbs{
          height: 102px;
          padding: 5px 0;
        }
      }

      .object_main_info{
        padding: 0 0 15px 0;

        span{
          font-weight: 600;
          font-size: 20px;
        }
      }

      .object_more_info{
        padding: 25px 0 0 0;

        button{
          padding: 0 33px;
          line-height: 40px;
        }
      }

      .object_head{

        .object_book{

          .object_book_hidden{

            .object_book_hidden_button{
              position: static;
            
            }
          }  
        }     
      }
    }
  }

  .post_slider{
    padding: 30px 0 30px 0;

    .post-gallery-top{
      padding: 0 0 5px 0;
    }

    .post-gallery-thumbs{

      .swiper-slide{
        height: 92px; 
        border: 3px solid transparent;

        &.swiper-slide-thumb-active{
          border: 3px solid #F0440D;
        }
      }

      
    }
  }
  
  .post_subtitle_whith_img{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 30px 0 40px 0;
  
    .post_subtitle_text{
      text-align: center;
      font-size: 26px;
      line-height: 40px;
    }

    &._yellow{
      .post_subtitle_img{
        width: 305px;
        height: 86px;
        background: url("/img/bird_yellow.svg");
        margin-bottom: 14px;
      }
    }

    &._green{
      .post_subtitle_img{
        width: 253px;
        height: 72px;
        background: url("/img/bird_green.svg");
        margin-bottom: 10px;
      }

      .post_subtitle_text{
        font-style: italic;
      }
    }
  }

  .similar_posts{
    padding-top: 55px;

    .similar_posts_item_wrapper:nth-child(even){

      .similar_posts_item{
        flex-flow: row-reverse nowrap;

        .similar_posts_item_img{
          padding: 0 0 30px 30px;
        }
      }
    }

    .similar_posts_item{
      display: flex;
      flex-flow: row nowrap;
    }

    .similar_posts_item_img{
      width: 589px;
      height: auto;
      padding: 0 30px 30px 0;
      flex-shrink: 0;
    }
  }

  .icon_wrapper{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    width: 100%;
    padding: 40px 0 0 0;

    figure{
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      width: 154px;
    }

    img{
      width: 100px;
      height: 100px;
    }

    figcaption{
      padding-top: 10px;
      text-align: center;
      line-height: 22px;
    }
  }

  @include for-notdesc{

    .object_book{

      .object_book_hidden{
        align-items: flex-start;
        flex-flow: column nowrap;

        .object_book_interactive_part{

          .object_book_send_mail{
            border: none;
            background-image: linear-gradient(90deg, white 50%, white 100%),
                            linear-gradient(90deg, rgba(216, 54, 3, 0.5) 50%, white 100%),
                            linear-gradient(90deg, white 50%, white 100%),
                            linear-gradient(90deg, rgba(216, 54, 3, 0.5) 50%, white 100%);
            background-size: 300px 1px, 5px 1px, 320px 1px, 5px 1px;
            background-repeat: no-repeat, repeat-x, no-repeat, repeat-x;
            background-position: 240px 60%, 0% 60%, 100px 100%, 0% 100%;

            .show_form_message_mobile{
              display: inline;
            }
          }

          .send_restaurant_info{

            ._button{
              margin: 15px 0 0 0;
            }
          }

          .object_book_mail_sent{
            padding: 20px 0;
          }
        }
      }
    }

      

  }

  @include for-pad{
    padding: 0 calc((100% - 748px) / 2);

    .post_wrapper{

      .text_with_borders{
        padding: 25px 25px 30px;
      }
    }

    .restaurant_adv_wrapper{
      padding: 30px 0 30px 0;

      .content_block{

        .title{

          .title_address{
            justify-content: center;
          }
        }

        .object_head{
          display: -ms-grid;
          display: grid;
          //-ms-grid-columns: (1fr)[6] 15px (1fr)[6];
          grid-template-columns: repeat(6, 1fr) 15px repeat(6, 1fr);
          min-height: auto;
        }

        .object_gallery{
          grid-column-start: 1;
          grid-column-end: 7;
          grid-row-start: 1;
          grid-row-end: 4;
          -ms-grid-column: 1;
          -ms-grid-column-span: 7;
          -ms-grid-row: 0;
          -ms-grid-row-span: 2;
          width: 366px;
          padding: 0;
  
          .swiper-container.gallery-top{
            height: 257px;
          }
  
          .swiper-container.gallery-thumbs{
            height: 102px;
            padding: 5px 0;
          }
        }

        .object_main_info{
          -ms-grid-column: 10;
          -ms-grid-column-span: 3;
          -ms-grid-row: 3;
          -ms-grid-row-span: 3;
          grid-column-start: 8;
          grid-column-end: 14;
          grid-row-start: 1;
          grid-row-end: 2;
        }

        .object_book{
          -ms-grid-column: 8;
          -ms-grid-column-span: 14;
          -ms-grid-row: 2;
          -ms-grid-row-span: 3;
          grid-column-start: 8;
          grid-column-end: 14;
          grid-row-start: 2;
          grid-row-end: 3;
          width: 366px;
        }

        .object_more_info{
          -ms-grid-column: 8;
          -ms-grid-column-span: 14;
          -ms-grid-row: 3;
          -ms-grid-row-span: 4;
          grid-column-start: 8;
          grid-column-end: 14;
          grid-row-start: 3;
          grid-row-end: 4;
          padding: 15px 0 0 0;
        }
      }
    }

    .similar_posts{
  
      .similar_posts_item_img{
        width: 386px;
        height: auto;
        padding: 0 30px 30px 0;
      }
    }
  }

  @include for-mobile{
    padding: 0 calc((100% - 290px) / 2) 0;

    .post_wrapper{

      h1{
        font-size: 32px;
        line-height: 36px;
      }
  
      h2{
        font-size: 28px;
        line-height: 32px;
      }
  
      h3{
        font-size: 24px;
        line-height: 25px;
        font-weight: 600;
      }

      .text_with_borders{
        margin: 25px 0 25px 0;
        padding: 20px 20px 20px;
      }

      .post_subtitle_whith_img{
        padding: 30px 0 20px 0;
      }
    }

    .icon_wrapper{
      flex-flow: column nowrap;
  
      figure{
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        width: 100%;
        padding: 0 0 20px 0;
      }
  
      img{
        width: 40px;
        height: 40px;
      }
  
      figcaption{
        padding: 0 0 0 15px;
        font-size: 14px;
      }
    }

    .restaurant_adv_wrapper{
      padding: 0 0 30px 0;

      .content_block{

        .title{
          padding: 0;
          
          h2{
            text-align: left;
            font-weight: 600;
            font-size: 22px;
            line-height: 24px;
          }

          .title_address{

            p{
              text-align: left;
              border: none;
              background-image: linear-gradient(rgba(216, 54, 3, 0.3), (rgba(216, 54, 3, 0.3))), 
                                linear-gradient(rgba(216, 54, 3, 0.3), (rgba(216, 54, 3, 0.3)));
              background-size: 188px 1px, 222px 1px;
              background-repeat: no-repeat;
              background-position: 0% 95%, 0% 45%;
            }
          }
          
        }

        .object_head{
          display: flex;
          align-items: flex-start;
          width: 290px;
          margin: 0;
        }

        .object_gallery{
          position: static;
          width: 100%;
          padding: 0;
          order: 1;
  
          .swiper-container.gallery-top{
            height: 200px;
          }
  
          .swiper-container.gallery-thumbs{
            height: 60px;
            padding: 5px 0;
          }
        }

        .object_main_info{
          order: 0;
        }

        .object_book{
          order: 2;
          padding: 15px 15px 25px 20px;

          .object_book_action{
            background-position: 0 20px;
          }
        }

        .object_more_info{
          order: 3;
          padding: 15px 0 0 0;
          width: 100%;

          button{
            width: 100%;
          }
        }
      }
    }

    .post_slider{
  
      .post-gallery-thumbs{
  
        .swiper-slide{
          height: 50px; 
          border: 3px solid transparent;
  
          &.swiper-slide-thumb-active{
            border: 3px solid #F0440D;
          }
        }
  
        
      }
    }

    .similar_posts{
      padding-top: 30px;

      .similar_posts_item_wrapper:nth-child(even){

        .similar_posts_item{
          flex-flow: column nowrap;
  
          .similar_posts_item_img{
            padding: 30px 0 30px 0;
          }
        }
      }
  
      .similar_posts_item{
        display: flex;
        flex-flow: column nowrap;
      }
  
      .similar_posts_item_img{
        width: 290px;
        height: auto;
        padding: 0 0 30px 0;
      }
    }

    * {
      font-size: 14px;
      line-height: 22px;
    }
  }
}