.seo_text{
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    margin: 40px 0px;

    ul{
        list-style: none;
        margin-top: 15px;
        padding-left: 20px;

        li{
            line-height: 26px;
            margin-top: 10px;
            position: relative;

            &:before{
                content: "";
                position: absolute;
                width: 7px;
                height: 7px;
                background-color: #7ABF62;
                transform: rotate(45deg);
                top: 9px;
                left: -20px;
            }
        }
    }

    ol{
        padding-left: 20px;

        li{
            line-height: 26px;
            margin-top: 10px;
        }
    }

    p{
        margin-top: 15px;
        line-height: 26px;
    }

    h2{
        font-weight: 600;
        font-size: 36px;
        line-height: 44px;
        text-align: left;
        margin: 30px 0px 20px;

        @include for-mobile{
            font-size: 30px;
        }
    }

    h3{
        font-weight: normal;
        font-size: 26px;
        line-height: 32px;
        text-align: left;
        margin: 25px 0px 15px;
    }

    h4{
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        margin: 20px 0px 15px;
    }

    @include for-mobile{
        font-size: 14px;
        line-height: 22px;
        margin: 20px 0px;
        max-height: 200px;
        overflow: hidden;
        position: relative;

        &._nowrap{
            max-height: initial;
        }

        &._active{
            max-height: initial;

            .seo_text_control{
                display: none;
            }
        }
    }

    .seo_text_control{
        display: none;

        @include for-mobile{
            display: flex;
            justify-content: center;
            position: absolute;
            padding-top: 30px;
            background-image: linear-gradient(to top,#fcfcf8 50%,transparent);
            top: 135px;
            width: 100%;
        }
    }
}