.listing_widget_header{
	width: 940px;
	margin: 80px auto 0px;
	text-align: center;

	@include for-notdesc{
		width: 100%;
	}

	@include for-pad{
		margin: 60px auto 0px;
		padding: 0px 10px;
	}

	@include for-mobile{
		margin: 40px auto 0px;
		padding: 0px 15px;
	}

	.listing_widget_title{
		font-weight: 600;
		font-size: 36px;
		line-height: 44px;
	}

	.listing_widget_subtitle{
		font-weight: 500;
		font-size: 16px;
		line-height: 26px;
		margin-top: 10px;
	}
}

.listing_widget_footer{
	width: 1200px;
	margin: 25px auto 0px;

	@include for-notdesc{
		width: 100%;
	}

	@include for-pad{
		padding: 0px 10px;
	}

	@include for-mobile{
		padding: 0px 15px;
	}

	.listing_widget_text{
		font-weight: 500;
		font-size: 16px;
		line-height: 26px;
	}
}

.error_widget{

	.listing_widget_link{

		@include for-notdesc{
	    	display: flex !important;
	    }
	}
}

.listing_widget_link{
	display: flex;
	justify-content: center;
	align-items: center;

	@include for-notdesc{
    	display: none !important;
    }

	.listing_widget_link_img{
		width: 122px;
		height: 135px;
		background-image: url(/img/widget_link_img.svg);
		margin: -74px 0px -12px;
	}

	.listing_widget_link_text{
		font-weight: 600;
		font-size: 36px;
		line-height: 44px;
		color: $clrGreen;
		text-align: center;
	}

	.listing_widget_link_arrow{
		width: 118px;
		height: 24px;
		background-image: url(/img/widget_link_arrow.svg);
		margin-top: 5px;
	}
}

.items_list_listing.swiper-container{
	padding: 0px 15px;

	.items_list{
		@include for-lowdesc{
            flex-wrap: nowrap;
        }

        margin: 25px 0px 20px;

		.swiper-slide{
			@include for-lowdesc{
	            margin: 0px;
	        }
		}
	}

	.listing_widget_controll{
		display: none;
		justify-content: center;
		align-items: center;

		@include for-lowdesc{
			display: flex;
		}

		.listing_widget_arrow{
			width: 32px;
		    height: 27px;

		    @include for-mobile{
		    	display: none;
		    }

		    &._prev{
		    	background-image: url(/img/widget_arrow_prev.svg);
		    }

		    &._next{
		    	background-image: url(/img/widget_arrow_next.svg);
		    }
		}

		.listing_widget_pagination{
			margin: 0px 11px;

		    .swiper-pagination-bullet{
		    	width: 10px;
		    	height: 10px;
		    	border: 1px solid $clrPagination;
		    	border-radius: 0px;
		    	margin: 0px 4px;
		    	transform: rotate(45deg);

		    	&.swiper-pagination-bullet-active{
		    		background-color: $clrPagination
		    	}
		    }
		}
	}		
}


.main_widget_link{
    display: none;
    line-height: 40px;
    text-align: center;
    width: calc(100% - 30px);
    margin-left: 15px;
    margin-top: 20px;

    @include for-mobile{
        display: block;
    }

    @include for-pad{
    	display: block;
    	width: 280px;
    	margin: 20px auto 0px;
    }
}

.error_widget{
	.listing_widget_link{
		height: 430px;
	}
}